/* [next]/internal/font/google/raleway_f16df1d3.module.css [app-client] (css) */
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA-s.b253e65f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA-s.dbbc0746.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA-s.061b29d3.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA-s.ab521344.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyC0IT4ttDfA-s.p.aacc4992.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA-s.b253e65f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA-s.dbbc0746.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA-s.061b29d3.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA-s.ab521344.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyC0IT4ttDfA-s.p.aacc4992.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCAIT4ttDfCmxA-s.b253e65f.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCkIT4ttDfCmxA-s.dbbc0746.woff2") format("woff2");
  unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCIIT4ttDfCmxA-s.061b29d3.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyCMIT4ttDfCmxA-s.ab521344.woff2") format("woff2");
  unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/_next/static/media/1Ptug8zYS_SKggPNyC0IT4ttDfA-s.p.aacc4992.woff2") format("woff2");
  unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: Raleway Fallback;
  src: local(Arial);
  ascent-override: 90.51%;
  descent-override: 22.53%;
  line-gap-override: 0.0%;
  size-adjust: 103.86%;
}

.raleway_f16df1d3-module__kwyHJq__className {
  font-family: Raleway, Raleway Fallback;
  font-style: normal;
}


/* [project]/app/(main)/globals.scss.css [app-client] (css) */
*, :after, :before {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  line-height: 1.15;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

a {
  background-color: #0000;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button, input, optgroup, select, textarea {
  line-height: inherit;
}

button {
  overflow: visible;
  text-transform: none;
}

[type="button"], [type="reset"], [type="submit"], button {
  -webkit-appearance: button;
  padding: 0;
}

input {
  overflow: visible;
}

input, textarea {
  padding: 1px;
}

fieldset {
  border: 1px solid;
  margin: 0 2px;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="color"] {
  background: inherit;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .5;
}

::-webkit-file-upload-button, ::-webkit-search-decoration {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted buttontext;
}

:-moz-ui-invalid {
  box-shadow: none;
}

hr {
  box-sizing: content-box;
  height: 0;
  color: inherit;
  overflow: visible;
}

dl, ol, ul {
  margin: 0;
}

dl dl, dl ol, dl ul, ol dl, ol ol, ol ul, ul dl, ul ol, ul ul {
  margin: 0;
}

b, strong {
  font-weight: bolder;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  text-indent: 0;
  border-color: inherit;
}

details {
  display: block;
}

dialog {
  background-color: inherit;
  border: solid;
  color: inherit;
  display: block;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
  font-size: 14px;
  scroll-behavior: smooth;
  transition: all .5s;
}

*, :before, :after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, figure, input, textarea, button {
  border-style: none;
  margin: 0;
  padding: 0;
}

.center {
  max-width: 1110px;
  margin: 0 auto;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.navigation__links {
  display: flex;
  gap: 45px;
}

.navigation__links a {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 2%;
}

.navigation__links a:hover {
  color: #6e9c9f;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 51px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header__logo_title {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__back-phone {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: #6e9c9ff2;
}

.header__image-phone {
  display: flex;
  gap: 10px;
}

.header__image-phone svg:hover {
  background-color: #6e9c9f;
  width: 27px;
  height: 27px;
}

.header__image-phone svg:hover path {
  fill: #fff;
}

.header__number-phone {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 2%;
}

.header__order-callback {
  position: relative;
  padding: 70px;
  width: 491px;
  height: 503px;
  background-color: #fff;
  position: fixed;
  top: 20%;
  right: 35%;
  z-index: 10;
}

.order-callback {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.order-callback__close {
  background-color: #0000;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 20px;
}

.order-callback__title {
  color: #000;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: .02em;
  font-size: 25px;
}

.order-callback__input {
  max-width: 350px;
  height: 40px;
  border-bottom: 1px solid #000;
}

.order-callback__submit {
  color: #000;
  font-weight: 400;
  color: #fff;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  padding: 22px 50px;
  width: 351px;
  height: 68px;
  font-size: 17px;
  background-color: #6e9c9f;
  cursor: pointer;
}

.order-callback__submit:hover {
  background-color: #509498;
  transition: all .3s ease-out;
}

.heading {
  padding: 190px 0 214px;
}

.heading__title {
  color: #000;
  font-weight: 500;
  font-size: 55px;
  line-height: 110%;
  letter-spacing: 2%;
  margin-bottom: 30px;
}

.heading__breadcrumbs {
  display: flex;
  gap: 5px;
}

.heading__breadcrumbs-item {
  color: #000;
  font-weight: 500;
  font-size: 17px;
  line-height: 140%;
  letter-spacing: .02em;
}

.heading__breadcrumbs-item:not(:last-of-type):after {
  content: "—";
  width: 160px;
  padding-left: 5px;
}

.heading__breadcrumbs-item:last-of-type {
  color: #909090;
}

.heading__breadcrumbs-item:hover {
  color: #6e9c9f;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 65px;
}

.products__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.products__image-box {
  width: 25em;
  height: 34em;
  position: relative;
  transition: all .3s ease-out;
}

.products__image-box:hover {
  transform: scale(1.01);
}

.products__image-box:hover:before {
  opacity: .5;
}

.products__image-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #6e9c9f;
  transition: all .5s;
  opacity: 0;
  content: url("../public/images/arrow.png");
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 24px;
}

.products__name {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 2%;
  margin-bottom: 10px;
}

.products__price-box {
  display: flex;
  gap: 10px;
}

.products__price {
  color: #000;
  font-weight: 500;
  color: #998e78;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 2%;
}

.products__price:before {
  content: "$";
}

.products__price_old {
  color: #000;
  font-weight: 500;
  color: #9c9c9c;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 2%;
  text-decoration-line: line-through;
}

.products__price_old:before {
  content: "$";
}

.footer {
  min-height: 363px;
  background-color: #f1eadc;
}

.footer__logo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.footer__logo_title {
  color: #000;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 10%;
  text-transform: uppercase;
}

.footer__wrapper {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.footer__left-block {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.footer__copyright {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: .02em;
}

.footer__navigation-menu {
  margin-bottom: 45px;
}

.footer__nav-categories {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 107px;
}

.footer__nav-category {
  color: #000;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;
  letter-spacing: .02em;
}

.footer__right-block {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 20px;
}

.footer__contacts {
  color: #000;
  font-weight: 400;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: .02em;
  text-align: right;
}

.footer__social-icons {
  display: flex;
  gap: 12px;
}


/*# sourceMappingURL=%5Broot%20of%20the%20server%5D__4886ec._.css.map*/
